<div class="container mb-5">

    <div class="mt-4 d-flex align-items-center">
        <a href="/" class="text-decoration-none btn btn-link ps-0">Lista de clientes</a>
        >&nbsp; Adicionar cliente
    </div>

    <div class="mb-5 mt-3">
        <h2>Adicionar cliente</h2>
        <p>Digite todas as informações do cliente para salvar na base de dados.</p>
    </div>

    <form [formGroup]="customerForm" (submit)="saveCustomer()" >
        <div class="form-group mb-4">
            <label for="type">Tipo</label>
            <select name="type" id="type" (change)="onTypePersonChange($event)" class="form-control" required>
                <option *ngFor="let type of optionsTypePerson" [value]="type">{{ type }}</option>
            </select>
        </div>

        <div class="mb-4" *ngIf="typePerson === getTypePersonEnum().Fisica">
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" class="form-control" formControlName="cpf" mask="000.000.000-00" placeholder="000.000.000-00" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('cpf')?.errors?.['required'] && (customerForm.get('cpf')?.dirty || customerForm.get('cpf')?.touched)">
                O campo CPF é requerido.
            </p>
            <p class="text-danger" *ngIf="(customerForm.get('cpf')?.errors?.['minlength'] || customerForm.get('cpf')?.errors?.['maxlength']) && (customerForm.get('cpf')?.dirty || customerForm.get('cpf')?.touched)">
                O campo CPF deve possuir 11 números.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('cpf')?.errors?.['invalidCPF'] && customerForm.get('cpf')?.value.length == 11">
                CPF inválido.
            </p>
        </div>

        <div class="mb-4" *ngIf="typePerson === getTypePersonEnum().Juridica">
            <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" id="cnpj" name="cnpj" class="form-control" formControlName="cnpj" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('cnpj')?.errors?.['required'] && customerForm.get('cnpj')?.touched">
                O campo CNPJ é requerido.
            </p>
            <p class="text-danger" *ngIf="(customerForm.get('cnpj')?.errors?.['minlength'] || customerForm.get('cnpj')?.errors?.['maxlength']) && (customerForm.get('cnpj')?.dirty || customerForm.get('cnpj')?.touched)">
                O campo CNPJ deve possuir 14 números.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('cnpj')?.errors?.['invalidCNPJ'] && customerForm.get('cnpj')?.value.length == 14">
                CNPJ inválido.
            </p>
        </div>

        <div class="mb-4" *ngIf="typePerson === getTypePersonEnum().Fisica">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" class="form-control" formControlName="name" placeholder="Digite o nome do cliente" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('name')?.errors?.['required'] && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">
                O campo Nome é requerido.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('name')?.errors?.['minlength'] && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">
                O campo Nome deve possuir no mínimo 3 caracteres.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('name')?.errors?.['maxlength'] && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">
                O campo Nome deve possuir no máximo 50 caracteres.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('name')?.errors?.['pattern']">
                O campo Nome deve conter somente letras e espaços.
            </p>
        </div>


        <div class="mb-4" *ngIf="typePerson === getTypePersonEnum().Juridica">
            <div class="form-group">
                <label for="fantasy-name">Nome Fantasia</label>
                <input type="text" id="fantasy-name" name="fantasy-name" class="form-control" formControlName="fantasyName" placeholder="Digite o nome fantasia da empresa" required/>
            </div>
            <p class="text-danger" *ngIf="customerForm.get('fantasyName')?.errors?.['required'] && (customerForm.get('fantasyName')?.dirty || customerForm.get('fantasyName')?.touched)">
                O campo Nome é requerido.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('fantasyName')?.errors?.['minlength'] && (customerForm.get('fantasyName')?.dirty || customerForm.get('fantasyName')?.touched)">
                O campo Nome Fantasia deve possuir no mínimo 3 caracteres.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('fantasyName')?.errors?.['maxlength'] && (customerForm.get('fantasyName')?.dirty || customerForm.get('fantasyName')?.touched)">
                O campo Nome Fantasia deve possuir no máximo 100 caracteres.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('fantasyName')?.errors?.['pattern']">
                O campo Nome Fantasia deve conter somente letras, números, espaços, `-` e `&`.
            </p>
        </div>

        <div>
            <div class="form-group mb-4">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" placeholder="exemplo@email.com" class="form-control" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('email')?.errors?.['required'] && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
                O campo Email é requerido.
            </p>
            <p class="text-danger" *ngIf="customerForm.get('email')?.errors?.['email'] && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
                Insira um Email válido, por exemplo: seu.email&#64;gmail.com
            </p>
            <p class="text-danger" *ngIf="customerForm.get('email')?.errors?.['maxlength'] && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
                O campo Email deve possuir no máximo 50 caracteres.
            </p>
        </div>

        <div class="mb-4">
            <div class="form-group">
                <label for="zipcode">CEP</label>
                <input type="text" id="zipcode" name="zipcode" formControlName="zipcode" mask="00000-000" placeholder="00000-000" #zipcode class="form-control" (blur)="onZipcodeChange()" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('zipcode')?.errors?.['required'] && (customerForm.get('zipcode')?.dirty || customerForm.get('zipcode')?.touched)">
                O campo CEP é requerido.
            </p>
            <p class="text-danger" *ngIf="(customerForm.get('zipcode')?.errors?.['minlength'] || customerForm.get('zipcode')?.errors?.['maxlength']) && (customerForm.get('zipcode')?.dirty || customerForm.get('zipcode')?.touched)">
                O campo CEP deve possuir 8 números.
            </p>
        </div>

        <div>
            <div class="form-group mb-4">
                <label for="phone">Telefone</label>
                <input type="text" id="phone" name="phone" formControlName="phone" mask="(00) 00000-0000" placeholder="(00) 00000-0000" #phone class="form-control" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('phone')?.errors?.['required'] && (customerForm.get('phone')?.dirty || customerForm.get('phone')?.touched)">
                O campo Telefone é requerido.
            </p>
            <p class="text-danger" *ngIf="(customerForm.get('phone')?.errors?.['minlength'] || customerForm.get('phone')?.errors?.['maxlength']) && (customerForm.get('phone')?.dirty || customerForm.get('phone')?.touched)">
                O campo Telefone deve possuir 11 números.
            </p>
        </div>

        <div>
            <div class="form-group mb-4">
                <label for="address">Endereço</label>
                <input type="text" id="address" name="address" formControlName="address" class="form-control" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('address')?.errors?.['required'] && (customerForm.get('address')?.dirty || customerForm.get('address')?.touched)">
                O campo Endereço é requerido.
            </p>
        </div>

        <div>
            <div class="form-group mb-4">
                <label for="neighborhood">Bairro</label>
                <input type="text" id="neighborhood" name="neighborhood" formControlName="neighborhood" class="form-control" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('neighborhood')?.errors?.['required'] && (customerForm.get('neighborhood')?.dirty || customerForm.get('neighborhood')?.touched)">
                O campo Bairro é requerido.
            </p>
        </div>

        <div>
            <div class="form-group mb-4">
                <label for="city">Cidade</label>
                <input type="text" id="city" name="city" formControlName="city" class="form-control" required />
            </div>
            <p class="text-danger" *ngIf="customerForm.get('city')?.errors?.['required'] && (customerForm.get('city')?.dirty || customerForm.get('city')?.touched)">
                O campo Cidade é requerido.
            </p>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-success" type="submit" >Salvar</button>
        </div>
    </form>
</div>